
<div class="grey">
    <div>
        <%= render "comments/form"%>
    </div>
    <h3>Comentarios</h3>
    <div class="top-space text-center">
        <%= render @article.comments %>
    </div>
</div>