<h1>Artículos</h1>

<%= button_to 'Nuevo Artículo', new_article_path, method: :get %>
<% @articles.each do |article| %>
  <h2><%= link_to article.title, article, method: :get %></h2>
  <h4><%= article.body %></h4>    
<% end %>
<%= will_paginate @articles %>

