<h1>Ariculos</h1>

<% @articles.each do |article| %>
  <h2><%= link_to article.title, article, method: :get %></h2>
  <h4><%= article.body %> - <%= link_to "Eliminar", article, class:"red", method: :delete %></h4>    
<% end %>

