html,body{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #d9ecd0
}

.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;   
    font-size: 1.2em;
    padding: 10px 12px; 
}

.be-red{
    background-color: #E74C3C;
}

.white{
    color: #ECF0F1;
}

.large-padding{
    padding: 1px 7px;
}

.red{
    color: #E74C3C !important;
}

.blue{
    color: blue !important;
}
.text-left{
    text-align: left;
}

.no-margin{
    margin: 0px;
}

.field,.top-space,.actions{
    margin-top: 1em;
}

.relative{
    position: relative;
}

.absolut{
    position: absolute;
}

.article-height{
    height: 150px;
}

.background-cover{
    background-position: center;
    background-size: cover;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.be-small{
    font-size: 12px;
}

.underline{
    text-decoration: underline;
}

.text-justify{
    text-align: justify;
}

.grey{
    color: #616161;
}

.be-big{
    font-size: 2em;
}

.bottom-space{
    margin-bottom: 2em;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}

.top-space{
    margin-top: 1em;
}

a,a:visited{
    color: inherit;
    text-decoration: none;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: #484f4f;
}

#button-new {
background-color: #484f4f;
padding: 12px 12px;
}

#button-new:hover {
    border-bottom: 5px solid red;
    background-color: #3e4444;
    color: #86af49;
}
#button-new:active {
    border-bottom: 5px solid red;
    background-color: #3e4444;
    color: #86af49;
}

/* Style the links inside the navigation bar */
.topnav #a {
text-align: center;
padding: 12px 50px;
}

.topnav #a:hover {
border-bottom: 5px solid red;
background-color: #3e4444;
color: #86af49;
}

.topnav #a.active {
border-bottom: 5px solid red;
background-color: #3e4444;
color: #86af49;
}